.txtBdrColor{
  border-color: red;
};
.txtColor{
 color:red;
};
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
    background-color: rgb(12, 165, 12);
    color: aliceblue;
}
.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 40px !important
}
.mat-sort-header-indicator {
  color: white !important;
}