  <div class="container">
      <div class="col-sm-12" style="padding: 0;">
        <span style='font-size: 23px;color: blueviolet;' id='leavedept_title'></span>
        <button id="leavebtn_title" class="btn btn-success glyphicon glyphicon-plus
           glyph bt-sm float-right" (click)="OpenPopup(0)">
        </button>
      </div>
      <div class="row" style="margin-top:10px;margin-bottom: 10px;">
      </div>
    <div >
      <table class="table table-bordered
                      table-hover
                      table-stripped
                      table-condensed">
        <thead class="bg-success" style='color: white;background-color:  forestgreen;'>
          <tr>
            <th style="font-weight: 400;">S.NO</th>
            <th style="font-weight: 400;">Name</th>
            <th style="font-weight: 400;">SUBJECT</th>
            <th style="font-weight: 400;">REASON</th>
            <th style="font-weight: 400;">REPORTING PERSON</th>
            <th style="font-weight: 400;">DATE OF LEAVE</th>
            <th style="font-weight: 400;">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of leaveResult| paginate:config;">
            <td>{{x.s_no}}</td>
            <td>{{x.name}}</td>
            <td>{{x.subject}}</td>
            <td>{{x.reason}}</td>
            <td>{{x.reportingPersonName}}</td>
            <td>{{x.dateOfleave| date :'mediumDate'}}</td>
            <td>{{x.action}}</td>
            
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please Wait. </p>
    </ngx-spinner>
  </div>

<div class="modal fade" id="leaveModal">
  <div class="modal-dialog  modal-dialog-centered modal-md" data-keyboard="false" data-backdrop="satic">
    <div class="modal-content modal-xl">
      <div class="modal-header bg-success" style='padding: 6px;margin-bottom: 8px;'>
        <h2 id="m_title" class="modal-title" style="margin: 0px;
        color: white;"></h2>
        <button (click)='close()' class="close ,pull-right" data-dismiss="modal" style = "color: white;outline: none;font-weight: 400;">
          &times;
        </button>
      </div>
      <div class="modal-xl">
        <!--popup form-->
        <form [formGroup] = "formData" novalidate>
          <!--Leave Subject input box   -->
          <div class=" form-group">
            <label class="control-label col-sm-2"> Subject:</label>
            <div class="col-sm-10">
              <input type="text" id="m_description" class="form-control" [(ngModel)]="leave.subject" formControlName="subject"
              [ngClass]="{'txtBdrColor':isFormSubmitted && formData.controls['subject'].hasError('required')}" >
            </div>
            <div style='color:red'*ngIf="isFormSubmitted && formData.controls['subject'].hasError('required') " >
              *Subject is required.
            </div>
          </div>
          <!--Leave Reason input box-->
          <div class="form-group">
            <label class="control-label col-sm-2">Reason:</label>
            <div class="col-sm-10">
              <textarea rows="5" id="m_description" class="form-control" [(ngModel)]="leave.reason" formControlName="reason"
               [ngClass]="{'txtBdrColor':isFormSubmitted && formData.controls['reason'].hasError('required')}" ></textarea>
            </div>
            <div style='color:red' *ngIf="isFormSubmitted && formData.controls['reason'].hasError('required') ">
              *Reason is required.
            </div>
          </div>
          <!--Date Of Leave-->
          <div class="form-group ">
            <label class="control-label col-sm-4">Date of Leave:</label>
            <div class="col-sm-6">
              <input type="date" id="m_DateOfleave" class="form-control" [(ngModel)]="leave.dateOfleave"
                formControlName="dateOfleave" [ngClass]="{'txtBdrColor':isFormSubmitted && formData.controls['dateOfleave'].hasError('required')}" >
            </div>
            <div style='color:red' *ngIf="isFormSubmitted && formData.controls['dateOfleave'].hasError('required') " >
              *Employee Date of leave is required.
            </div>
          </div>
          <!--Leave Reporting Person Input Box-->
          <div class="form-group " *ngIf='isShowReportingPeson'>
            <label class="control-label col-sm-2">ReportingPerson:</label>
            <div class="col-sm-6">
              <select *ngIf='isShowReportingPeson' id="m_ReportingPerson_id" formControlName="reportingPerson_id" class="form-control" [(ngModel)]="leave.reportingPerson_id"
              [ngClass]="{'txtBdrColor':isFormSubmitted && formData.controls['reportingPerson_id'].hasError('required')}">
              <option value='' disabled>choose ReportingPerson</option>  
              <option *ngFor="let item of employeeData" value="{{item.id}}">{{item.name}}</option>
              </select>
            </div>
            <div style='color:red' *ngIf="isFormSubmitted && formData.controls['reportingPerson_id'].hasError('required')  ">
              *Reporting Person is required.
            </div>
          </div>
          <!--Leave action Input Box-->
          <div class="form-group">
            <label class="control-label col-sm-2">Action:</label>
            <div class="col-sm-4">
              <select id="action" formControlName="action"  class="form-control"
                [(ngModel)]="leave.action" [disabled]='' [ngClass]="{'txtBdrColor':isFormSubmitted && formData.controls['action'].hasError('required')}">
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
            <div style='color:red' *ngIf="isFormSubmitted && formData.controls['action'].hasError('required') " >
              *action is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id='btn_addrecord_title' class="btn btn-success btn-sm " (click)="InsertUpdate()"></button>

        <button id="btn_close_title" (click)='close()' class="btn btn-danger btn-sm " (click)='close()'
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

