<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form #user='ngForm' (ngSubmit)="Register(user)" id="login-form" class="form">
            <h3 style='font-size:26px;'class="text-center text-info">Login</h3>
            <div class="form-group">
              <label for="email" class="text-info">Username:</label><br>
              <input (keyup)="onKeyUp1($event)" [style.border]="isEmailValid ? '': '1px solid #ff6358'" type="text"
                name="email" ngModel id="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input (keyup)="onKeyUp2($event)" [style.border]="isPasswordValid ? '': '1px solid #ff6358'" type="text"
                name="password" ngModel id="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me"
                    name="remember-me" type="checkbox"></span></label><br>
              <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
            </div>
            <div id="register-link" class="text-right">
              <a href="#" class="text-info">Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
