<!-- partial -->
<div class="main-panel">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                         <div class="profile-card">
                            <div class="profile-header">
                                <div class="cover-image">
                                    <img src="https://cdn.pixabay.com/photo/2019/10/19/14/16/away-4561518_960_720.jpg" class="img img-fluid">
                                </div>
                                <div class="user-image">
                                    <img src="https://scontent.fslv1-1.fna.fbcdn.net/v/t1.0-1/p240x240/71764978_543119796448430_5969446522109034496_n.jpg?_nc_cat=105&_nc_oc=AQnoaTQx8fxeyzbIbtQyvZXghFdEQl-ds6NQr_13xAXuGmWnigS1zJHTuH8sKv5e9-TSN3KRAuptCtwM-LlwxidP&_nc_ht=scontent.fslv1-1.fna&oh=52752a53e6b91980d3f9bf227064a95d&oe=5E5A25B9" class="img ">
                                </div>
                            </div>
                            <div class="profile-content">
                                <div class="profile-name">Santosh Ghimire</div>
                                <div class="profile-designation">Webdeveloper</div>
                                <p class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                                <ul class="profile-info-list">
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Timeline</a>
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Saved</a>
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-movie"></i>Medias</a>
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-account"></i>About</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->

            <div class="row" style="margin-top:10px;margin-bottom: 10px;">
            </div>

            <div class="col-md-10 grid-margin stretch-card">
                <div class="card" *ngFor="let user of employee">
                    <div class="card-body">
                        <p class="card-title font-weight-bold" style="font-size:20px">Profile&nbsp; 
                            <a type="button">
                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                    <img src='{{user.image}}' alt="" style='width:70px'
                                        class="img-fluid rounded-circle z-depth-0" />
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <img src="assets/image/profileavatar.jpg" alt="" style='width:70px'
                                        class="img-fluid rounded-circle z-depth-0">
                                </ng-template>
                            </a>
                           
                            <a style='margin-left:100px;font-size:18px;' (click)='profileUpdate()' type='button'
                                class="">Edit profile<mat-icon  color="primary" class="mat-18">edit</mat-icon></a>
                            <a style='margin-left:100px;font-size:13px;' (click)='UpdateProfile()' type='button'
                                class="profile-info-list-item"><i class="mdi mdi-eye"></i>Update profile pic</a>
                        </p>
                        <hr>
                        <p class="card-description">User Information</p>
                        <ul class="about">
                            <li class="about-items"><i class="mdi mdi-account icon-sm "></i>
                                <span class="about-item-name">Name:</span><span
                                    class="about-item-detail">{{user.name}}</span></li>
                            <li class="about-items"><i class="mdi mdi-mail-ru icon-sm "></i>
                                <span class="about-item-name">username:</span>
                                <span class="about-item-detail">{{user.name}}@sssolutions</span> </li>
                            <li class="about-items"><i class="mdi mdi-lock-outline icon-sm "></i>
                                <span class="about-item-name">Password:</span><span class="about-item-detail"
                                    type='password'>{{user.password}}</span> </li>

                            <!--  <li class="about-items"><i class="mdi mdi-format-align-left icon-sm "></i>
                                <span class="about-item-name">Bio:</span>
                                <span class="about-item-detail">Lorem ipsum dolor
                                    sit amet, consectetur adipisicing elit. Architecto totam, nemo quidem delectus
                                    dolores vero porro inventore perferendis minus perspiciatis.</span> </li>
                            <li class="about-items"><i class="mdi mdi-trophy-variant-outline icon-sm "></i>
                                <span class="about-item-name">Badges:</span><span class="about-item-detail"> 
                                    <button type="button" class="btn btn-success btn-rounded btn-icon">
                                        <i class="mdi mdi-star text-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-rounded btn-icon">
                                        <i class="mdi mdi-check text-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-rounded btn-icon">
                                        <i class="mdi mdi-check text-white"></i>
                                    </button>
                                </span>
                            </li> -->
                        </ul>
                        <p class="card-description">Contact Information</p>
                        <ul class="about">
                            <li class="about-items"><i class="mdi mdi-phone icon-sm "></i>
                                <span class="about-item-name">Phone:</span><span
                                    class="about-item-detail">{{user.mobileNumber}}</span></li>
                            <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                <span class="about-item-name">Address:</span><span
                                    class="about-item-detail">{{user.address}}</span></li>
                            <li class="about-items"><i class="mdi mdi-email-outline icon-sm "></i>
                                <span class="about-item-name">Email:</span><span class="about-item-detail"><a
                                        href="https://www.{{user.email}}" target='_blank'>{{user.email}}</a></span>
                            </li>
                            <li class="about-items"><i class="mdi mdi-web icon-sm "></i>
                                <span class="about-item-name">Site:</span><span class="about-item-detail"><a
                                        href="https://www.google.com" target='_blank'>www.google.com</a></span> </li>
                        </ul>
                        <p class="card-description">Basic Information</p>
                        <ul class="about">
                            <li class="about-items"><i class="mdi mdi-cake icon-xl "></i>
                                <span class="about-item-name">Date Of Joining:</span><span
                                    class="about-item-detail">{{user.dateOfJoining|date:'short'}}</span></li>
                            <li class="about-items"><i class="mdi mdi-account icon-sm "></i>
                                <span class="about-item-name">Gender:</span><span
                                    class="about-item-detail">{{user.gender}}</span></li>
                            <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i>
                                <span class="about-item-name">Role:</span><span
                                    class="about-item-detail">{{user.role}}</span> </li>
                            <li class="about-items"><i class="mdi mdi-water icon-sm "></i>
                                <span class="about-item-name">Designation:</span><span
                                    class="about-item-detail">{{user.designation}}</span> </li>
                            <li class="about-items"><i class="mdi mdi-human-male-female icon-sm "></i>
                                <span class="about-item-name">Relationship Status:</span>
                                <span class="about-item-detail">Single</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: rgb(173, 89, 89)">Please Wait. </p>
        </ngx-spinner>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- <?php include'includes/admin_footer.php' ?> -->
    <!-- partial -->
</div>
<!-- main-panel ends -->
<div class="modal fade" id="profileModal">
    <div class="modal-dialog  modal-dialog-centered modal-md" data-keyboard="false" data-backdrop="satic">
        <div class="modal-content modal-md">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: forestgreen;color:white;padding: 6px;margin-bottom: 8px;">
                <h2 style='margin:0px'id='m_title' class="modal-title"></h2>
                <button (click)='close()' class="close" data-dismiss="modal"
                    style="color: white;outline: none;">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-xl">
                <form [formGroup]="employeeData" novalidate>
                    <div class="row col-sm-12">
                        <!--Employee name input box-->
                        <div class="col-sm-6 form-group ">
                            <label>Employee name</label>
                            <input [disabled]='' type="text" id="m_name" class="form-control"
                                [(ngModel)]="userprofile.name" formControlName="name"
                                [ngClass]="{'txtBdrColor':isFormSubmitted && employeeData.get('name').hasError('required')}">
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('name').hasError('required')">
                                *Employee name is required.
                            </div>
                            <div style='color:red' *ngIf=" employeeData.controls['name'].hasError('pattern')">
                                *enter the valid name.
                            </div>
                            <div style='color:red'
                                *ngIf="employeeData.controls['name'].touched && employeeData.controls['name'].hasError('maxlength')">
                                *name valid with in 20 charecters.
                            </div>
                        </div>
                        <!--Employee gender-->
                        <div class="col-sm-6 form-group ">
                            <label>Employee Gender</label>
                            <select [disabled]='' id="m_gender" formControlName="gender" class="form-control"
                                [(ngModel)]="userprofile.gender"
                                [ngClass]="{'txtBdrColor':isFormSubmitted && employeeData.get('gender').hasError('required')}">
                                <option value="" disabled>--Please choose employee gender--</option>
                                <option value="Male">Male</option>
                                <option value='Female'>Female</option>
                                <option value='Third Gender'>Third Gender</option>
                            </select>
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('gender').hasError('required')">
                                *Employee name is required.
                            </div>
                        </div>
                    </div>
                    <!--Employee age-->
                    <div class="row col-sm-12">
                        <div class="col-sm-6 form-group ">
                            <label>Employee Age</label>
                            <input [disabled]='' type="text" id="m_age" class="form-control"
                                [(ngModel)]="userprofile.age" formControlName="age"
                                [ngClass]="{'txtBdrColor':isFormSubmitted && employeeData.get('age').hasError('required')}">
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('age').hasError('required')">
                                Employee Age is required.
                            </div>
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('age').hasError('pattern')">
                                Employee Age is valid at 18-60.
                            </div>
                        </div>

                        <!--Employee mpbile no-->
                        <div class="col-sm-6 form-group ">
                            <label>Employee Mobile Number</label>
                            <input [disabled]='' type="number" id="m_mobileNumber" class="form-control"
                                [(ngModel)]="userprofile.mobileNumber" formControlName="mobileNumber"
                                [ngClass]="{'txtBdrColor':isFormSubmitted && employeeData.get('mobileNumber').hasError('required')}">
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('mobileNumber').hasError('required')">
                                *Employee Mobile Number is required.
                            </div>
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('mobileNumber').hasError('pattern')">
                                *Enter the valid Mobile Number.
                            </div>
                        </div>
                    </div>
                    <!--Employee address-->
                    <div class="row col-sm-12">
                        <div class="col-sm-6 form-group ">
                            <label>Employee Address</label>
                            <input [disabled]='' type="text" id="m_address" class="form-control"
                                [(ngModel)]="userprofile.address" formControlName="address"
                                [ngClass]="{'txtBdrColor':isFormSubmitted && employeeData.get('address').hasError('required')}">
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('address').hasError('required')">
                                *Employee Address is required.
                            </div>
                        </div>
                        <!--Employee Designation input box-->
                        <div class="col-sm-6 form-group">
                            <label>Employee Designation</label>
                            <input [disabled]='' type="text" id="m_designation" class="form-control"
                                [(ngModel)]="userprofile.designation" formControlName="designation"
                                [ngClass]="{'txtBdrColor':isFormSubmitted && employeeData.get('designation').hasError('required')}">
                            <div style='color:red'
                                *ngIf="isFormSubmitted && employeeData.get('designation').hasError('required')">
                                *designation is required.
                            </div>
                        </div>
                    </div>
                    <!-- image
                    <label class="image-upload-container btn btn-bwm">
                        <span>Select Image</span>
                        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
                    </label>
                    <div style='color:red' *ngIf="fileLength!=''&&fileLength!=null&&fileLength!=undefined">
                        *File exceeds the maximum size.
                    </div> -->

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" id='btn_title' class="btn btn-success"
                            (click)='empInsertUpdate()'>update</button>
                        <button type="button" id='btn_close_title' (click)='close()' class="btn btn-danger"
                            data-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--profile pic update-->
<div class="modal fade" id="profilePicModal">
    <div class="modal-dialog  modal-dialog-centered modal-md" data-keyboard="false" data-backdrop="satic">
        <div class="modal-content modal-md">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: forestgreen;color:white;padding: 6px;margin-bottom: 8px;">
                <h2 style='margin:0px' id='m_Imgtitle' class="modal-title"></h2>
                <button (click)='close()' class="close" data-dismiss="modal"
                    style="color: white;outline: none;">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-md">
                <form [formGroup]="profiledata">

                    <!--image-->
                    <label class="image-upload-container btn btn-bwm">
                        <span><b>Select Image:</b>&nbsp;</span>
                        <input type="file" formControlName="file" accept="image/*"
                            (change)="onSelectFile($event)">
                    </label>
                    <div style='color:red' *ngIf="fileLength">
                        *File exceeds the maximum size.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button [disabled]='fileLength' type="submit" id='btn_title' class="btn btn-success"
                            (click)='UpodateProfilePic()'>update</button>
                        <button type="submite" id='btn_close_title' (click)='close()' class="btn btn-danger"
                            data-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>